@(userForm: Form[forms.UserData])(implicit messagesProvider: MessagesProvider)
@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name" name="name">
                        <small id="nameHelp" class="form-text text-muted">Enter your username here.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <button id="submit_login_data" type="button" class="btn btn-primary">Submit</button>
                    <button id="reset_train_data" type="reset" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>


        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="@routes.Assets.versioned("javascripts/login.js")" type="text/javascript"></script>
    </body>
</html>


